@model IEnumerable<WebSiteMCSport.Models.EF.ProductCategory>

@if (Model != null && Model.Any())
{
    var items = Model.ToList();

    <div class="banner">
        <div class="container">
            @for (int i = 0; i < items.Count; i += 2)
            {
                <div class="row gx-0 justify-content-center mb-4">
                    <div class="col-md-6 d-flex justify-content-center">
                        <div class="banner_item" style="background-image: url(@items[i].Icon)">
                            <div class="banner_category">
                                <a href="/danh-muc-san-pham/@items[i].Alias-@items[i].Id">@items[i].Title</a>
                            </div>
                        </div>
                    </div>

                    @if (i + 1 < items.Count)
                    {
                        <div class="col-md-6 d-flex justify-content-center">
                            <div class="banner_item" style="background-image: url(@items[i + 1].Icon)">
                                <div class="banner_category">
                                    <a href="/danh-muc-san-pham/@items[i + 1].Alias-@items[i + 1].Id">@items[i + 1].Title</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
}
