@{
    ViewBag.Title = "Liên hệ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Phố Lim<br />
    Giáp Sơn, Lục Ngạn, Bắc Giang<br />
    <abbr title="Phone">P:</abbr>
    0369 863 389
</address>

<address>
    <strong>Hỗ trợ:</strong>   <a href="mailto:Support@example.com">SupportMCSport@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">MarketingMCSport@gmail.com</a>
</address>